# Build
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.swp
*.swo


# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Maven
.mvn/
mvnw
mvnw.cmd

# Application
application-local.yml
application-*.yml
!application.yml

# claude
.claude
CLAUDE.md
