<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.api.mappers.UserMapper">

  <insert id="create" parameterType="com.example.api.generate.po.UserEntity" useGeneratedKeys="true"
    keyProperty="id">
    INSERT INTO users (email, password, account, created_at, updated_at)
    VALUES (#{email}, #{password}, #{account}, NOW(), NOW())
  </insert>

  <select id="findByAccount" parameterType="String"
    resultType="com.example.api.generate.po.UserEntity">
    SELECT id, email, password, account, created_at, updated_at
    FROM users
    WHERE account = #{account}
  </select>


</mapper>
